<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タスク帳：トップ</title>
</head>
<body>
    <script>
        if(sessionStorage.getItem('id') == null || sessionStorage.getItem('name') == null) location.href = '/';
        
        let p = document.createElement('p');
        p.innerHTML = sessionStorage.getItem('id') + " : " + sessionStorage.getItem('name');
        document.body.append(p);
    </script>
    <a href="/">トップへ</a>
</body>
</html>